.carousel {
    max-width: 100%;
    margin: 0 auto;

}


.carousel-inner {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* .carousel img {
    display: none;
    width: 100%;
    height: auto;
    object-fit: cover;
} */

img {
    object-fit: fill;
    max-width: 100%;
    /* Ensure the image never exceeds the container width */
    /* height: auto; */
    /* Let the browser calculate the height to maintain aspect ratio */
    display: block;
    object-fit: cover;
    /* Ensure the image is displayed as a block element */
}

.active-slide {
    max-height: 100%;
    width: auto;
    max-height: auto;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}